---
apiVersion: project.openshift.io/v1
kind: Project
metadata:
  name: container-demo
spec:
  finalizers:
  - kubernetes

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: container-demo
  labels:
    app: container-demo
  namespace: container-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: container-demo
  template:
    metadata:
      labels:
        deployment: container-demo
    spec:
      containers:
      - env:
        - name: TEXT
          value: Hello
        image: quay.io/quaydemolab/phpservice@sha256:ac3d56c2abf9321d50d571a66ef4ed4d54f81fcc2f8715bd9d4056053dc57234
        imagePullPolicy: IfNotPresent
        name: container-demo
        ports:
        - containerPort: 8443
          protocol: TCP
        - containerPort: 8080
          protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: container-demo
  name: container-demo
  namespace: container-demo
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  - name: 8443-tcp
    port: 8443
    protocol: TCP
    targetPort: 8443
  selector:
    deployment: container-demo
  type: ClusterIP

---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: container-demo
  name: container-demo
  namespace: container-demo
spec:
  host: container-demo.apps.ocp1.example.lab
  port:
    targetPort: 8080-tcp
  to:
    kind: Service
    name: container-demo
    weight: 100
